<div class="container mt-5 pt-5">
    <div class="row" *ngIf="movieResult">
        <div class="col-md-4">
            <img class="w-100" src="https://image.tmdb.org/t/p/original/{{movieResult.poster_path}}">
        </div>
        <div class="col-md-8 text-white">
            <h1>{{movieResult.title}}</h1>
            <h5 class="mt-4">Título Original: {{movieResult.original_title}}</h5>
            <p>Data de Estreia: {{movieResult.release_date | date:'dd/MM/yyyy'}}</p>
            <p>{{movieResult.overview}}</p>
        </div>
    </div>
    <div class="container my-5 text-white" *ngIf="movieVideoResult">
        <h3 class="my-3">Trailer Oficial</h3>
        <iframe width="100%" height="500" [src]="movieVideoResult | safe"></iframe>
    </div>
    <div class="container my-5 text-white" *ngIf="movieCastResult">
        <h3 class="my-3">Elenco</h3>
        <div class="row">
            <div class="col-lg-4 col-sm-6" *ngFor="let c of movieCastResult">
                <div class="row">
                    <div class="col-lg-3 mb-3" *ngIf="c.profile_path">
                        <img class="w-100" src="https://image.tmdb.org/t/p/original/{{c.profile_path}}">
                    </div>
                    <div class="col-lg-9 mb-3">
                        <h3>{{c.original_name}}</h3>
                        <p>{{c.character}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>