.navbar{
    backdrop-filter: blur(2px);
    background: rgba(0,0,0,0.5);
   }
   .navbar .navbar-brand{
    color: #E50914;
    font-weight: bold;
   }
   .navbar-nav .nav-item .nav-link{
    color: #E50914;
   } 